
.todo h1 {
  margin-bottom: 10px;
}

.todo .header {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.todo .function-filter {
  display: flex;
  flex-direction: column;
}

.todo .function-filter select {
  padding: 5px;
  padding-left: 15px;
  appearance: none;
  background-color: white;
  border-radius: 10px;
}

.todo .function-filter select:focus {
  outline: none;
}

.todo hr {
  height: 1px;
  border: none;
  background-color: #b4b4b4d7;
}

.todo .checkbox {
  display: flex;
  gap: 5px;
  align-items: center;
}

