@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Patrick+Hand&display=swap');

.btn {
  font-size: 0.8rem;
  padding: 6px 13px;
  cursor: pointer;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 9999px;
  color: white;
  font-weight:  700;
  transition: 0.3s;
}

.btn:hover {
  background-color: white;
  color: var(--primary-color);
}

.btn.warning {
  --primary-color: var(--delete-color);
}

.todo {
  --inner-color: #e4e4e4ee;
  --popup-color: #f3f3f3;
  --disable-color: #aaaaaaa8;

  margin: 130px 0;
  width: 90%;
  max-width: 500px;
  border-radius: 30px;
  background-color: var(--inner-color);
  box-shadow: 0 0 60px -30px black;
  padding: 30px;
  font-family: sans-serif;
}

.todo h1 {
  margin-bottom: 10px;
}

.todo .header {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.todo .function-group-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  display: none;
}

.todo .function-group {
  position: absolute;
  padding: 20px;
  border-radius: 20px;
  top: 63px;
  right: -10px;
  display: none;
  flex-direction: column;
  gap: 13px;
  justify-content: space-between;
  /* background-color: #ffffff; */
  background-color: var(--popup-color);
  box-shadow: 0 0 60px -30px black;
  animation: appear 0.3s ease-out;
}

.todo .function-group::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 150px;
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
  background-color: var(--popup-color);
}

.todo .function-filter {
  display: flex;
  flex-direction: column;
}

.todo .function-filter select {
  padding: 5px;
  padding-left: 15px;
  appearance: none;
  background-color: white;
  border-radius: 10px;
}

.todo .function-filter select:focus {
  outline: none;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translate(0, -20px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0px);
  }
}

@keyframes disappear {
  to {
    opacity: 0;
    transform: translate(0, -20px);
  }
  from {
    opacity: 1;
    transform: translate(0, 0px);
  }
}

.todo hr {
  height: 1px;
  border: none;
  background-color: #b4b4b4d7;
}

.todo .function-group .checkbox {
  display: flex;
  gap: 5px;
  align-items: center;
}

.todo .function-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo .input-area { 
  display: grid;
  gap: 10px;
  grid-template-columns: 5fr 1fr 1fr;
  height: 40px;
  margin-top: 20px;
}

.todo .input-area .task-input {
  border: none; 
  background-color: transparent;
  font-size: 1rem;
  padding-bottom: 0px;
}

.todo .input-area .task-input:focus {
  border: none;
  outline: none;
  border-bottom: 3px solid var(--primary-color);
}

.todo .task-area {
  margin-top: 25px;
}

.todo .task-area .task-list {
  list-style-type: none;
}

.todo .task-area .task-list .task-list-item {
  display: flex; 
  justify-content: space-between;
  margin: 14px 0; 
  padding: 15px;
  padding-left: 20px;
  color: white;
  background-color: var(--primary-color);
  border-radius: 10px;
  transition: 0.2s;
  box-shadow: 0 0 20px -10px black;
  position: relative;
}

.todo .task-area .task-list .task-list-item.disable {
  background-color: var(--disable-color);
}

.todo .task-area .task-list .task-list-item .more-icon {
  fill: white !important;
}

.todo .task-area .task-list .task-list-item .more-icon:hover {
  cursor: pointer;
}

.todo .task-list-item > span {
  font-weight: bold;
}

.todo .task-list-item .more-icon > * {
  font-size: 1.2rem;
  margin: 0 5px;
}

.todo .task-list-item .task-popup {
  color: black;
}

.todo .task-list-item .task-description {
  color: black;
  font-family: 'Patrick Hand', cursive;
  font-size: 1.1rem;
}
/* 
.todo .task-list-item .task-description {
  color: #ffffff;
} */

.todo .task-date {
  color: #dadada;
  font-size: 0.85rem;
  margin-left: 10px;
  font-style: italic;
  font-weight: 500;
}

.todo form.edit-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.todo .edit-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.todo .edit-input .title {
  color: #868686;
  font-size: 0.8rem;
  font-weight: bold;
}

textarea {
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.todo .edit-input > input, .todo .edit-input > textarea {
  padding: 9px 10px;
  border: 1px solid var(--disable-color);
  border-radius: 15px;
  resize: none;
  appearance: none;
}

.todo .edit-input > *:focus {
  outline: none;
  /* border: initial; */
}